
:root {
    --eventos-bg-color: #2f76d3; /* Cor de fundo padrão da seção eventos */
    --eventos-text-color: #fff; /* Cor do texto padrão na seção eventos */
    --card-bg-color: #333; /* Cor de fundo padrão dos cards */
    --card-text-color: #fff; /* Cor do texto padrão nos cards */
    --card-hover-transform: translateY(-10px); /* Transformação ao passar o mouse nos cards */
}

html {
    scroll-behavior: smooth; /* Comportamento suave de rolagem */
}

body {
   margin-top: -55px;
    background: #000000;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 70px; /* Ajuste conforme a altura da navbar */
    overflow-x: hidden; /* Previne barra de rolagem horizontal */
}

img{
    width: 150px;
    height: 150px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar {
    z-index: 1000; /* Garante que a navbar fique acima de outros conteúdos */
    color: #0781b1;
}

.navbar-brand{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul{
    color: #0781b1;
}

.section {
    background-image: url(./espaço.jpg);
    background-size: 100%;
    background-size: cover;
    width: 100vw;
    height: auto;
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
    position: relative;
}

.section h2 {
    margin-bottom: 50px; /* Espaçamento inferior para os títulos */
}

.section.psychedelic-bg {
    background: linear-gradient(45deg, #ff0099, #493240);
    color: #fff;
}

.section.bg-dark {
    background-color: #0e8baa;
    color: #fff;
}

.navbarnav{
    color: #0781b1;
}

/* Seção Eventos */
#eventos {
    background-color: var(--eventos-bg-color);
    color: var(--eventos-text-color);
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
}

#eventos .card {
    background-image: url(./11857990.jpg); /* Imagem de fundo dos cards */
    color: var(--card-text-color);
    border: none; /* Remover borda */
    transition: transform 0.3s; /* Efeito de transição */
}

#eventos .card:hover {
    transform: var(--card-hover-transform); /* Efeito de levantar ao passar o mouse */
}

/* Próximas Pvts */
#pvts {
    background-color: var(--eventos-bg-color);
    color: var(--eventos-text-color);
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
}

#pvts .card {
    background-image: url(./11857990.jpg); /* Imagem de fundo dos cards */
    color: var(--card-text-color);
    border: none; /* Remover borda */
    transition: transform 0.3s; /* Efeito de transição */
}

#pvts .card:hover {
    transform: var(--card-hover-transform); /* Efeito de levantar ao passar o mouse */
}

/* Imagens dos DJs */
.dj-photo {
    border: 5px solid #fff;
    transition: transform 0.3s;
}

.dj-photo:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/* Botões */
.btn-outline-light {
    
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #222;
}

.btn-primary {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ff0099;
    border-color: #ff0099;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: #fff;
}

/* Ícones */
.icon {
    color: #ff0099;
}

.icon:hover {
    text-decoration: none;
}

.rating {
    margin-top: 51%;
    position: absolute;
    display: flex;
    
}


.rating .fa-star {
    
    color: #ddd; /* Cor das estrelas não preenchidas */
    margin-right: 5px;
    
}

.fa-star.checked {
    color: #FFD700; /* Cor das estrelas preenchidas */
}

#home{
    margin-top: -16px;
}



.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(13, 194, 207);
}


.navbar-dark .navbar-nav .nav-link{
    color: rgb(239, 243, 245);
}

li{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}
/* Sobrescrevendo as classes do Bootstrap */
.navbar-dark.bg-dark {
    box-shadow:  #0781b1;
    background-color: rgba(0, 0, 0, 0.507) !important; /* Cor de fundo desejada */
}


