

:root {
    --eventos-bg-color: #2f76d3; /* Cor de fundo padrão da seção eventos */
    --eventos-text-color: #fff; /* Cor do texto padrão na seção eventos */
    --card-bg-color: #333; /* Cor de fundo padrão dos cards */
    --card-text-color: #fff; /* Cor do texto padrão nos cards */
    --card-hover-transform: translateY(-10px); /* Transformação ao passar o mouse nos cards */
}


html{
    scroll-behavior: smooth 3.0s;
}
body {
    background: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding-top: 70px; /* Ajuste conforme a altura da navbar */
    overflow-x: hidden; /* Previne barra de rolagem horizontal */
}

.navbar {
    z-index: 1000; /* Garante que a navbar fique acima de outros conteúdos */
}

.section {
    translate: 2.0s;
    width: 100vw;
    height: 100vh;
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
    position: relative;
}

.section h2 {
    margin-bottom: 50px; /* Espaçamento inferior para os títulos */
}

.section.psychedelic-bg {
    background: linear-gradient(45deg, #ff0099, #493240);
    color: #fff;
}

.section.bg-dark {
    background-color: #222;
    color: #fff;
}

/* Seção Eventos com Vídeo de Fundo */
#eventos {
    background-color: var(--eventos-bg-color);
    color: var(--eventos-text-color);
}

#eventos #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}

#eventos .container {
    position: relative;
    z-index: 2;
}

#eventos .card {
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    border: none; /* Remover borda */
    transition: transform 0.3s; /* Efeito de transição */
}

#eventos .card:hover {
    transform: var(--card-hover-transform); /* Efeito de levantar ao passar o mouse */
}

/* Imagens dos DJs */
.dj-photo {
    border: 5px solid #fff;
    transition: transform 0.3s;
}

.dj-photo:hover {
    transform: scale(1.1);
}

/* Botões */
.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #222;
}

.btn-primary {
    background-color: #ff0099;
    border-color: #ff0099;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ff66b2;
    border-color: #ff66b2;
    color: #fff;
}

/* Ícones */
.icon {
    color: #ff0099;
}

.icon:hover {
    text-decoration: none;
}


/* Seção Eventos */
#eventos {
    background-color: var(--eventos-bg-color);
    color: var(--eventos-text-color);
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
}

#eventos .card {
    background-image: url(./11857990.jpg);
    color: var(--card-text-color);
    border: none; /* Remover borda */
    transition: transform 0.3s; /* Efeito de transição */
}

#eventos .card:hover {
    transform: var(--card-hover-transform); /* Efeito de levantar ao passar o mouse */
}

#pvts {
    background-color: var(--eventos-bg-color);
    color: var(--eventos-text-color);
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
}

#pvts .card {
    background-image: url(./11857990.jpg);
    color: var(--card-text-color);
    border: none; /* Remover borda */
    transition: transform 0.3s; /* Efeito de transição */
}

#pvts .card:hover {
    transform: var(--card-hover-transform); /* Efeito de levantar ao passar o mouse */
}

.section {
    width: 100vw;
    height: 100vh;
    padding: 100px 20px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir o padding na largura e altura totais */
    text-align: center;
    position: relative;
}







